{% extends "base.html" %}

{% block content %}
 <h2>Informacje o projekcie</h2>
<body>
<br>
<p class="text-start">Wykonanie: <span class="fw-bolder" >Arkadiusz Musiał z pomacą mentora</span></p>
<div>
 <ul class="list-group">
  <li class="list-group-item list-group-item-dark fw-bold">Narzędzia użyte do projektu:</li>
  <a href="https://www.python.org" class="list-group-item list-group-item-action list-group-item-light">Python</a>
  <a href="https://www.jetbrains.com/pycharm/" class="list-group-item list-group-item-action list-group-item-light">PyCharm</a>
  <a href="https://flask.palletsprojects.com/en/3.0.x/" class="list-group-item list-group-item-action list-group-item-light">Flask</a>
  <a href="https://flask-sqlalchemy.palletsprojects.com/en/3.1.x/" class="list-group-item list-group-item-action list-group-item-light">Flask-SQLAlchemy</a>
  <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" class="list-group-item list-group-item-action list-group-item-light">Bootstrap</a>
</ul>
</div>
</body>
{% endblock %}