{% extends "base.html" %}

{% block content %}
    <title>Most Expensive</title>
<h2>Miasta o najwyższych kosztach życia</h2>
<br>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

</head>
<body>
<h3>Średnia kosztów życia w stanie <span style="font-weight: bold">{{ selected_state }}</span>: <span class="badge bg-secondary" style="width: 12rem;"> $ {{ '{:,.2f}'.format(average_cost) }}</span></h3>
    <table class="table table-striped table-hover">
  <thead>
    <tr class="table-secondary">
      <th scope="col"></th>
      <th scope="col">Stan</th>
      <th scope="col">Miasto</th>
      <th scope="col">Koszt życia</th>
<!--      <th scope="col">Average cost</th>-->
      <th scope="col">Procent powyżej średniej</th>
    </tr>
  </thead>
  <tbody>
    {% for item in most_expensive %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td><p>{{ item.state }}</p></td>
      <td><p>{{ item.areaname }}</p></td>
      <td><p>$ {{ '{:,.2f}'.format(item.total_cost) }}</p></td>
<!--      <td><p>$ {{ '{:,.2f}'.format(average_cost) }}</p></td>-->
      <td><p>$ {{ '{:,.2f}'.format(average_cost/item.total_cost * 100) }}%</p></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<div class="list-group">
  {% for item in lowest_cost %}
  <a href="#" class="list-group-item list-group-item-action"><span style="font-weight: bold">Najbardziej ekonomiczne miasto w tym stanie:</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">{{ item.areaname }}</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">$ {{ '{:,.2f}'.format(item.total_cost) }}</a>
  {% endfor %}
</div>
<br>
<a href="/" class="btn btn-light">Powrót</a>
</body>
{% endblock %}