{% extends "base.html" %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Home Page</h1>
<br>
<div>
    <form action="/result" method="POST">
        <label for="dropdown">Wybierz stan:</label>
        <select id="dropdown" name="state">
            {% for row in data %}
                <option value="{{ row.state }}">{{ row.state }}</option>
            {% endfor %}
        </select>
        <button type="submit">Pokaż wyniki</button>
    </form>
</div>
<br>
<div>
    <button type="submit">Pokaż najbardziej ekonomiczne miasto w stanie</button>
    <form action="/most_expensive" method="POST">
        <button type="submit">Pokaż 3 miasta o najwyższych kosztach życia</button>
    </form>
    <button type="submit">Sprawdź średni koszt życia</button>
</div>
<br>
{% endblock %}
