{% extends "base.html" %}

{% block content %}

<!--<h1 xmlns="http://www.w3.org/1999/html">Home Page</h1>-->
<link href="style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h1>Projekt: Porównanie kosztów życia w różnych stanach USA</h1>
<br>
<div class="container">
    <form method="POST">
        <div class="dropdown">
          <label for="dropdown">Wybierz stan:</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="dropdown" name="state">
                {% for row in data %}
                    <option value="{{ row.state }}">{{ row.state }}</option>
                {% endfor %}
            </select>
<br>
<!--        <button type="submit" formaction="total_cost">Całkowity koszt życia</button>-->
        <button type="submit" class="btn btn-success" formaction="most_expensive">Pokaż 3 miasta o najwyższych kosztach życia</button>
        <button type="submit" class="btn btn-success" formaction="lowest_cost">Pokaż najbardziej ekonomiczne miasto w stanie</button>
        <button type="submit" class="btn btn-success" formaction="average_cost">Sprawdź średni koszt życia</button>
<!--        <button type="submit" formaction="bootstrap">bootstrap</button>-->
    </form>
</div>
<br>
<br>
{% endblock %}
