<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista rozwijana z danymi z bazy danych</title>
</head>
<body>
    <h1>Lista rozwijana z danymi z bazy danych</h1>

    <form action="/result" method="POST">
        <label for="dropdown">Wybierz stan:</label>
        <select id="dropdown" name="state">
            {% for row in data %}
                <option value="{{ row.state }}">{{ row.state }}</option>
            {% endfor %}
        </select>
        <button type="submit">Pokaż wyniki</button>
    </form>

    <a href="/top_cities"><button>Top 3 Miasta</button></a>
    <a href="/lowest_cost_city"><button>Najniższy Koszt Życia</button></a>
</body>
</html>
